* { 
    font-family:georgia}

body {
        background-image:url("silverware.jpg");
      }

h1, h2 {
    color: #A4A400; 
    text-decoration:underline;
    background-color:#F0F0F0
}
h5  {
    color: #A4A400;
    text-decoration:underline;
}
h4 {
    
    font-style:italic;
    font-size:10px;
    background:  #FFFFA8
 }
a{ 
    color:#A4A400;
    text-decoration:underline;
}
h6{ 
    font-family:monospace;
}