*{
font-family:cursive;
}
body{
   size:20px;
   color:rgb(255, 153, 0);
   background-color:rgb(78, 72, 72);
   margin:25%;
}

input{
    border:1px;
    background-color: rgb(124, 123, 123);
    color:rgb(255, 153, 0);
}

#Calculate{
background-color:rgb(255, 153, 0);
color:white;
border:0px;
border-radius:2px;
cursor:crosshair


}

#reset {
    background-color:rgb(124, 123, 123);
    color:rgb(255, 153, 0);
    border: 4px;
    border-radius:2px;
    cursor:crosshair
}

.input{
    width:70px;
    text-align: center;
   
}

