
body{
    background-image:url("..//mountain.jpg");
    background-size:cover;
    background-position:center ;
    background-repeat:repeat-x;
    overflow-x: hidden;
    overflow-y: scroll;
   
    
}
table {

   
    width:1000px;
    height:375px;
    
    border:1px;
    text-align: center;
    background-color: #00000057;
    color:white;
    font-family:cursive;
}
table,th,td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    
}
a, th{
    color:white;
}
.center{
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
}
ul {
   
  position: fixed; top: 5px; left:40%;
  list-style-type:none;
}

li {
  float:left;
}

li a {
  display:block;
  padding: 8px;
  background-color: #00000057;
  color:white;
}

footer{
  width:1350px;
  position:fixed; bottom:5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.363);
  color: rgb(255, 255, 255);
  padding:10px;
  
}

#author, a{
  color:white;
  text-align: center;
}

.btn1{
  position:fixed; left: 45%; top:75px; 
  width:50px;
  text-align: center;

}
.btn2{
  position:fixed; left: 50%;top:75px;
  width:50px;
  text-align: center;
  padding-left:2px;
}

#contentContainer {
  display:none;
  
}