
    
    
   

h1{padding:30%;}

h1, h2{
        text-align: center;
    color:rgb(255, 255, 255);
   
}

h3{
    font-size: 28px;
    color:rgb(255, 255, 255);
    text-align: center;
}

a{
    color:rgb(255, 255, 255);

}

#about{
position: absolute; top:30pt; left: 100pt;

}

#projects{
position: absolute; top: 30pt; right: 100pt;
}



.parallax{
    
      
        /* Set a specific height */
        min-height: 500px;
      
        /* Create the parallax scrolling  */
        background-image:url("..//mountain.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

