
    
    
   

body{
    background-image:url("..//mountain.jpg");
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-color:black;
    font-family:cursive;
}

div{
    padding-top:160px;
}

h1{
    margin-top: 10%;
    text-align: center;
    color:White;
}

a{
    color:White;

}

#about{
position: absolute; bottom:30pt; left: 100pt;

}

#projects{
position: absolute; bottom: 30pt; right: 100pt;
}
